@font-face {
    font-family: open-sans;
    src: url("fonts/OpenSans-Regular.ttf");
}

body {
    background-color: rgb(52, 54, 59);
}


h1 {
    font-family: open-sans;
    font-size: xx-large;
}


.info {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 98%;
    width: 18%;
    background-color: rgb(89, 114, 124);
    border: 5px solid rgb(200, 200, 200);

    text-align: center;
}

.text {
    font-family: open-sans;
    font-size: large;
}

.banner {
    position: sticky;
    margin: auto;
    width: 60%;
    background-image: url("imgs/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    background-position: center;
    background-color: rgb(70, 70, 75);
    border: 5px solid rgb(200, 200, 200);
}

.images {
    background-color: rgb(28, 36, 39);
    border: 5px solid rgb(0, 0, 0);
    overflow-y: scroll;
    width: 98%;
    height: 20%;
}